<meta charset="UTF-8">​
<div class="col-sm-8 col-sm-offset-2" ng-controller="">​
	<!-- <p> {{orders}}</p> -->
	<h2>Add a new Kiddo</h2>
	<form>​
		<label>First Name</label>​
		<input type="text" ng-model="newkid.first_name"><br> 
		<label>Last Name </label>
		<input type="text" ng-model="newkid.last_name"><br>
		<label>Age </label>
		<input type="text" ng-model="newkid.age"><br>
		<label>Address </label>
		<input type="text" ng-model="newkid.address"><br>
		<label>City </label>
		<input type="text" ng-model="newkid.city"><br>
		<label>State </label>
		<input type="text" ng-model="newkid.state"><br>
		<label>Country </label>
		<input type="text" ng-model="newkid.country"><br>
		<label>Zipcode</label>
		<input type="text" ng-model="newkid.zipcode"><br>
		<label>Father's Name </label>
		<input type="text" ng-model="newkid.father"><br>
		<label>Father's Ocuupation </label>
		<input type="text" ng-model="newkid.father_occupation">	<br>
		<label>Father's income </label>
		<input type="text" ng-model="newkid.father_income"><br>
		<label>Mother's Name </label>
		<input type="text" ng-model="newkid.mother"><br>
		<label>Mother's Occupation </label>
		<input type="text" ng-model="newkid.mother_occupation"><br>
		<label>Mother's income</label>
		<input type="text" ng-model="newkid.mother_income"><br>
		<label>Total income </label>
		<input type="text" ng-model="newkid.total_income"><br>
		<label>10th Grade Score </label>
		<input type="text" ng-model="newkid.tenth_score"><br>
		<label>12th Grade Score </label>
		<input type="text" ng-model="newkid.twefth_score"><br>
		<label>College Name </label>
		<input type="text" ng-model="newkid.college_name"><br>
		<label>Course </label>
		<input type="text" ng-model="newkid.course"><br>
		<label>Proposed Expense </label>
		<input type="text" ng-model="newkid.proposed_expense"><br>
		<label>Fees Paid</label>
		<input type="text" ng-model="newkid.fees_paid"><br>
		<label>Hostel Accomodation </label>
		<input type="text" ng-model="newkid.accomodation"><br>

		<button type="submit" ng-click="addKid()">Add Kiddo</button>
	</form>

	


